@charset "utf-8";
@media (max-width:720px) {
    
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 10px;
    }
    .menu img{
        width: 140px;
    }
    #button-menu{
        width: 100px;
        height: 30px;
        font-size: 0.9rem
    }
    #container{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-areas:
            "A"
            "B"
            "C"
            "D"
            "E" 
            "F"
            "G"
            "H"
            "I" 
            "j";
        row-gap: 30px;
    }
    #txt-1{
        grid-area: A;
        align-self: center;
        padding: 20px;
        text-align: center;
    }
    #txt-1 h1{
        font-size: 1.5rem;
    }
    #img-1 img{
        width: 90vw;
    }
    #img-2{
        grid-area: C;
    }
    #img-2 img{
        width: 80vw;
    }
    #txt-2{
        grid-area: D;
        text-align: center;
    }
    #img-3{
        grid-area: E;
    }
    #img-3 img {
        width: 80vw;
    }
    #txt-3{
        text-align: center;
    }
    #img-4{
        grid-area: G;
    }
    #img-4 img{
        width: 80vw;
    }
    #txt-4{
        grid-area: H;
        text-align: center;
    }
    #chamada-acao{
        grid-area: I;
    }
    .caixa{
        width: 90vw;
        overflow: hidden;
        padding-bottom: 30px;
    }
    #button-3{
        width: 60vw;
        height: auto;
        font-size: .9rem;
        padding: 15px;
    }
    #rodape{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 1fr 2fr;
        grid-template-areas:
        "A"
        "B"
        "C"
        "D"
        "E"
        "F"
        "G"
        "H"
        "I"
        "J"
        "K"
        "L"
        "M";
    }
    .link-1{
        grid-area: F;
        text-align: start;
        padding: 10px 25px;
    }
    .link-2{
        grid-area: G;
        text-align: start;
        padding: 10px 25px;
    }
    .link-3{
        grid-area: H;
        text-align: start;
        padding: 10px 25px;
    }
    .link-4{
        grid-area: I;
        text-align: start;
        padding: 10px 25px;
    }
    .link-5{
        grid-area: J;
        text-align: start;
        padding: 10px 25px;
    }
    .link-6{
        grid-area: K;
        text-align: start;
        padding: 10px 25px;
    }
    .items{
        grid-area: L;
        text-align: center;
        align-self: flex-end;
    }
    .copy{
        grid-area: M;
        text-align: center;
        
    }
    p .copy{
        align-self: center;
    }
  

}